body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url("./resources/images/bg-1.jpg");
    margin: 0;
    overflow: hidden;
}

h1 {
    color: white;
}

canvas {
    background-color: transparent;
    border: 2px solid none;
    display: block;
    margin: 0 auto;
}
